.book-movie-container {
  min-height: calc(100vh - 3.6rem);
}
.book-movie-box {
  height: 17vh;
  background: #ffde22;
  display: flex;
}

.movies-details-box {
  width: 60%;
  padding-left: 50px;
}
.movies-cast-box {
  width: 40%;
  display: grid;
  grid-template-columns: 20% 80%;
}
.movies-details-box,
.movies-cast-box {
  margin: auto;
  color: black;
}

.movie-detail-name .name {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.movie-detail-name .name span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.movie-detail-name .categories {
  font-size: 14px;
  margin-right: 10px;
  text-transform: uppercase;
}
.movie-detail-name .other {
  padding-top: 5px;
}
.movie-detail-name .tags {
  margin: 10px;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 14px;
  text-transform: uppercase;
}

.movie-detail-name .release-date,
.movie-detail-name .duration {
  font-size: 13px;
  position: relative;
  top: 3px;
  margin: 10px;
}

.cast-list-block .actor-image,
.cast-list-block-list .actor-image {
  background-image: url(../../assets/images/default-avatar.jpg);
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 25px;
  margin: unset;
}
.cast-list-block .cast-title,
.cast-list-block-list .cast-title {
  font-size: 13px;
  padding-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.grid-system .actor-name,
.cast-list-block .actor-name {
  padding-top: 5px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-weight: normal;
}

.cast-list-block-list .grid-system {
  width: 25%;
  float: left;
}
.filters-block {
  height: 65px;
}
.show-time-app.black .filters-block {
  border-bottom: 1px solid #151515;
}
.show-time-app.white .filters-block {
  border-bottom: 1px solid #cfd4db;
  box-shadow: 1px 2px 5px -2px #cfd4db;
}

.show-time-app.black .theatre-list {
  border-bottom: 1px solid #151515;
}
.show-time-app.white .theatre-list {
  border-bottom: 1px solid #cfd4db;
}

.movie-detail-name {
  margin-top: 15px;
}
.filter-by-date {
  width: 50%;
  float: left;
  padding-left: 50px;
}
.filter-by-others {
  width: 50%;
  float: right;
}
.scrolling-dates .date-list {
  width: 60px;
  height: 50px;
  margin: 7px;
  margin-left: 6px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
.scrolling-dates .date-list .date {
  font-size: 16px;
  font-weight: bold;
}
.scrolling-dates .date-list .day {
  font-size: 12px;
}
.scrolling-dates .date-list .day,
.scrolling-dates .date-list .date {
  text-align: center;
}
.dates-block {
  width: 65%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.dates-block::-webkit-scrollbar {
  display: none;
}
.arrow-align-middle {
  margin: auto 0;
}
.mg-lft-20 {
  margin-left: 20px;
}
.mg-rt-15 {
  margin-right: 15px;
}

.date-list.active {
  background: #ffde22;
  color: black;
}

.fa {
  cursor: pointer;
}
.filter-by-others .movie-screen,
.region-box {
  display: flex;
  width: 20%;
  margin-top: 10px;
  float: left;
  cursor: pointer;
  position: relative;
  float: left;
  padding: 15px;
  border-left: 1px solid #eceef1;
  top: 0;
  font-size: 14px;
  font-weight: inherit;
}
.region-box {
  width: 30%;
}
.dropdown-ul {
  list-style: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  outline: 0;
  top: 90%;
  left: 7%;
  margin: 0;
  padding: 0;
  min-width: 101.5%;
  white-space: nowrap;
  text-shadow: none;
  text-align: left;
  -webkit-box-shadow: 0 2px 4px 0 rgba(39, 41, 43, 0.15);
  box-shadow: 0 2px 4px 0 rgba(39, 41, 43, 0.15);
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 0 0 0.2857rem 0.2857rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 100;
}

.dropdown-ul.active {
  opacity: 1;
  visibility: visible;
}
.show-time-app.black .dropdown-ul {
  background: black;
  border: 1px solid #4c4c4c;
}
.show-time-app.white .dropdown-ul {
  background: white;
  border: 1px solid #cfd4db;
}
.dropdown-ul li:first-child {
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.dropdown-ul li {
  padding-left: 10px;
  padding-top: 5px;
  margin: 0px 0px 10px 0px;
}
.show-time-app.black .dropdown-ul li:hover {
  color: #ff8928;
}
.show-time-app.white .dropdown-ul li:hover {
  color: #ff8928;
}
.fa-angle-down.book-movie.rotate {
  transform: rotate(180deg);
}
.fa-angle-down.book-movie {
  height: 18px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.show-time-app.black .region-box,
.show-time-app.black .movie-screen {
  border-color: #2b2b2b;
}
.region-box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-regions {
  display: flex;
  padding-left: 50px;
  padding-top: 20px;
}

.region-name {
  letter-spacing: 0.5px;
  font-size: 12px;
  border: 1px solid #9a9898;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  margin-right: 15px;
  opacity: 0.8;
  cursor: pointer;
  text-transform: capitalize;
}
i.fa.fa-times-circle.region-close {
  margin-left: 6px;
  font-size: 15px;
  position: relative;
  top: 1px;
}
.region-name:hover {
  opacity: 1;
  color: #ff8928;
}
.theatre-list-box {
  padding: 0px 50px 20px 50px;
  /* overflow: auto;
  display: block;
  height: calc(100vh - 35vh); */
}
.theatre-list {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 120px;
  margin-bottom: 20px;
}

.theatre-name-block {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: auto 0;
}
.theatre-timings-block {
  margin: auto 0;
}
.timing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.timing-container {
  margin: 8px;
}
.timing-pill {
  cursor: pointer;
  border: 1px solid #999;
  padding: 4px;
  border-radius: 4px;
  width: 90px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.timing-pill:hover {
  color: #ff8928;
}
.timing-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 2px;
  height: 14px;
  font-size: 13px;
}
.timing-text {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.theatre-name {
  letter-spacing: 0.2px;
}
