.show-time-app.white .login-form {
  background: #fff;
}
.show-time-app.black .login-form {
  background: #1c1c1c;
}
.animation-view {
  background: url(../../assets/images/showtym.gif);
  background-size: cover;
  width: 40%;
  background-repeat: no-repeat;
  background-position: center center;
}
.h1-ele {
  font-weight: bold;
  margin: 0;
  color: #ea3c68;
}

/* h2 {
  text-align: center;
} */

.welcome-text,
.black-text {
  color: black;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span-ele {
  font-size: 12px;
  color: #ea3c68;
  font-weight: bold;
}

.social-icons {
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.forgot {
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  transition: unset;
}
.show-time-app.white .forgot {
  color: black;
  transition: all 0.5s;
}
.show-time-app.black .forgot {
  color: white;
  transition: all 0.5s;
}
.login-btn,
.ghost {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ea3c68;
  background-color: #ea3c68;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.login-btn:active,
.ghost:active {
  transform: scale(0.95);
}

.login-btn:focus,
.ghost:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.show-time-app.white .login-form {
  background-color: #ffffff;
  transition: all 0.5s;
}
.show-time-app.black .login-form {
  background-color: #1c1c1c;
  transition: all 0.5s;
}
.login-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login-input:focus {
  outline: none;
}

.login-container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 95%;
  min-height: 80vh;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ea3c68);
  background: linear-gradient(to right, #ff4b2b, #ea3c68);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.login-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container .social-icons {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.social-icons:hover {
  background: #ea3c68;
  color: black;
  transition: all 0.2s;
  cursor: pointer;
}
.show-time-app.white .social-icons {
  border: 1px solid #dddddd;
  transition: all 0.5s;
}
.show-time-app.black .social-icons {
  border: 1px solid #252525;
  transition: all 0.5s;
}
.login-pg {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1920px) and (max-width: 2560px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .login-pg {
    width: 100%;
  }
  .animation-view {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .login-pg {
    width: 100%;
  }
  .animation-view {
    display: none;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .login-pg {
    width: 100%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .login-pg {
    width: 100%;
  }
  .login-form,
  .overlay-panel {
    padding: 0 5px;
  }
}
