@import '../../../assets/stylesheets/variables';

.admin-container {
    min-height: calc(100vh - 3.6rem);
    padding: 30px;
}

.seat-layout-container {
    padding: 10px;
}

.seat-form-container {
    padding: 10px 20px;
}

.seat-name-input {
    margin: 0px 0px 25px;
}

.seat-layout-table {
    table {
        thead {
            border-bottom: 0.2px solid $primary-color;
        }

        border-collapse: collapse;

        .td-body {
            padding: 10px 0;

            .fa {
                padding: 5px;
                background: $fa-bck-color;
                color: white;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 10px;
            }
        }

        .seat-chart-name {
            font-size: 23px;
            color: $primary-color;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .seat-chart-desc {
            font-size: 14px;
        }
    }

    .table-header {
        padding-bottom: 8px;
        font-size: 15px;
    }

    .table-header:last-child {
        width: 6%;
    }


}

.seat-layout-table {
    padding: 20px;
}

select#alphabets {
    width: 15pc;
}

.actions-btn {
    margin: 0px -20px;
    padding: 10px 15px 0px 15px;
    border-top: 1px solid #ddd;
}

.column-seat-text {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
}